/* .main{
    padding: 10px;
    height: 100vh;
}

.layout{
    display: flex;
}

.sidebar{
    min-height: 100px;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(51, 1, 1);
    box-shadow: 0 0 2px gray;
    color: white;
    margin-right: 20px;
}

.content{
    height:100%;
    width: 100%;
}

.header{
    height: 10vh;
    margin-bottom: 20px;
    box-shadow: 0 0 2px gray;
    background-color: white;
}

.body{
    height: 85vh;
    margin-bottom: 20px;
    box-shadow: 0 0 2px gray;
    background-color: white;
}

.logo h6{
    font-size: 1rem;
    text-align: center;
    margin: 20px 0px;

}

.menu-item{
 margin-top: 30px;
}

.menu-item a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.menu-item i{
    font-size: 1rem;
    margin: 0 15px;
}

.active{
    background-color: white;
    padding: 10px;
}

.active a,
.active i{
    color: rgb(51, 1, 1);

}

.header-content{
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
}

.header-content i{
    margin-right: 10px;
    font-size: 1rem;
}

.header-content a{
    text-decoration: none;
    color: blue;
    margin: 0 10px;
    text-transform: uppercase;

} */